* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(183, 186, 181);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgdiv {
    display: flex;
    justify-content: space-between;
    /* background-color: lavender; */
    align-items: center;
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 222px;
    width: 210px;
}

img{
    height: 100%;
    width: 100%;
}

p {
    margin-top: 20px;
    font-size: 26px !important;
}

.transdiv {
    display: none; /* Initially hide the transcript div */
}
